@use '../globals/variables' as *;

@mixin space-betw {
    display: flex;
    justify-content: space-between;
}

@mixin grid-2-column {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

@mixin margin-center ($width) {
    width: $width;
    margin-left: auto;
    margin-right: auto;
}

@mixin breakpoint($size) {
    @media (max-width: map-get($breakpoints-up, $size)){
        @content
    }
}
